server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/forms_api
    username: forms_user
    password: forms_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/forms-realm

keycloak:
  base-url: http://keycloak:8080
  realm: forms-realm
  admin:
    username: admin
    password: admin
    client-id: admin-cli
  login:
    client-id: forms-spa
    redirect-uri: http://localhost:5173/callback
